#ricercalibro2{
    -fx-text-fill: #bb8c8e; 
    -fx-font-size: 40px;
   -fx-font-family: "Georgia", "Times New Roman", serif;
    -fx-font-weight: bold;
  
}

#bottoneModificaLibro{
    -fx-text-fill: white; 
    -fx-font-size: 15px; 
    -fx-padding: 10px 25px; 
    -fx-border-radius: 5px; 
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(168, 25, 25, 0.4), 8, 0, 0, 0); 
    -fx-width: 96;
    -fx-width:48;
    -fx-background-color:#d57209;
}

#bottoneRimuoviLibro{
    -fx-text-fill: white; 
    -fx-font-size: 15px; 
    -fx-padding: 10px 25px; 
    -fx-border-radius: 5px; 
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(168, 25, 25, 0.4), 8, 0, 0, 0); 
    -fx-width: 96;
    -fx-width:48;
    -fx-background-color:#d57209;
}

#bottoneConfermaRicercaLibro
{
      -fx-text-fill: white; 
    -fx-font-size: 15px; 
    -fx-padding: 10px 25px; 
    -fx-border-radius: 5px; 
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(168, 25, 25, 0.4), 8, 0, 0, 0); 
    -fx-width: 96;
    -fx-width:48;
    -fx-background-color:#d57209;
}