#labelaggiungiprestito {
    -fx-text-fill: #bb8c8e; 
    -fx-font-size: 40px;
    -fx-font-family: "Georgia", "Times New Roman", serif;
    -fx-font-weight: bold;
  

}



#labelISBNprestito{
    -fx-text-fill: #2ECC71; 
    -fx-font-size: 20px;
    -fx-font-family: "Georgia", "Times New Roman", serif;
    -fx-font-weight: bold;
  
}



#labelmatricolaprestito{
    -fx-text-fill: #2ECC71; 
     -fx-font-size: 20px;
    -fx-font-family: "Georgia", "Times New Roman", serif;
    -fx-font-weight: bold;
  
}

#labeldataprestito{
    -fx-text-fill: #2ECC71; 
    -fx-font-size: 20px;
   -fx-font-family: "Georgia", "Times New Roman", serif;
    -fx-font-weight: bold;
  
}

#labeldatarestituzione{
    -fx-text-fill: #2ECC71; 
    -fx-font-size: 20px;
   -fx-font-family: "Georgia", "Times New Roman", serif;
    -fx-font-weight: bold;
  
}





#testoISBNprestito{
    -fx-background-color: #bb8c8e;
    -fx-border-color:#2ECC71;
}

    
#testoMatricolaPrestito{
    -fx-background-color: #bb8c8e;
    -fx-border-color:#2ECC71;
}
#testoDataPrestito
{
    -fx-background-color: #bb8c8e;
    -fx-border-color:#2ECC71;
}
#testoDataRestituzione
{
    -fx-background-color: #bb8c8e;
    -fx-border-color:#2ECC71;
}

#bottoneConfermaPrestito{
    -fx-text-fill: white; 
    -fx-font-size: 15px; 
    -fx-padding: 10px 25px; 
    -fx-border-radius: 5px; 
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(168, 25, 25, 0.4), 8, 0, 0, 0); 
    -fx-width: 96;
    -fx-width:48;
    -fx-background-color:#2ECC71;
}

#dataPrestito,
#dataRestituzione {
    -fx-background-color: #bb8c8e;   
    -fx-border-color: #2ECC71;       
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;

    -fx-font-size: 16px;             
    -fx-font-family: "Georgia", "Times New Roman", serif;
    -fx-text-fill: black;

    -fx-alignment: center;         
    -fx-padding: 4px 6px;
}


.button:hover {
    -fx-opacity: 0.9; 
    -fx-scale-x: 1.05; 
    -fx-scale-y: 1.05; 
}


.button-base:pressed {
    -fx-translate-y: 1px;
    -fx-effect: none; 
}

