#labelaggiungilibro {
    -fx-text-fill: #bb8c8e; 
    -fx-font-size: 40px;
    -fx-font-family: "Georgia", "Times New Roman", serif;
    -fx-font-weight: bold;

}

#titolo{
    -fx-text-fill: #d57209; 
    -fx-font-size: 20px;
    -fx-font-family: "Georgia", "Times New Roman", serif;
    -fx-font-weight: bold;
  
}

#autore{
    -fx-text-fill: #d57209; 
    -fx-font-size: 20px;
    -fx-font-family: "Georgia", "Times New Roman", serif;
    -fx-font-weight: bold;
  
}

#ISBN{
    -fx-text-fill: #d57209; 
    -fx-font-size: 20px;
     -fx-font-family: "Georgia", "Times New Roman", serif;
    -fx-font-weight: bold;
  
}

#annodipub{
    -fx-text-fill: #d57209; 
    -fx-font-size: 20px;
    -fx-font-family: "Georgia", "Times New Roman", serif;
    -fx-font-weight: bold;
  
}

#numcopie{
    -fx-text-fill: #d57209; 
    -fx-font-size: 20px;
    -fx-font-family: "Georgia", "Times New Roman", serif;
    -fx-font-weight: bold;
  
}


#testoTitolo{
    -fx-background-color: #bb8c8e;
    -fx-border-color:#0671b9;
}

#testoAutore{
    -fx-background-color: #bb8c8e;
    -fx-border-color:#0671b9;
}
#testoISBN{
    -fx-background-color: #bb8c8e;
    -fx-border-color:#0671b9;
}
#testoAnnoPub{
    -fx-background-color: #bb8c8e;
    -fx-border-color:#0671b9;
}
#testoNumCopie{
    -fx-background-color: #bb8c8e;
    -fx-border-color:#0671b9;
}

#bottoneConfermaLibri{
    -fx-text-fill: white; 
    -fx-font-size: 15px; 
    -fx-padding: 10px 25px; 
    -fx-border-radius: 5px; 
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(168, 25, 25, 0.4), 8, 0, 0, 0); 
    -fx-width: 96;
    -fx-width:48;
    -fx-background-color:#d57209;
}




.button:hover {
    -fx-opacity: 0.9; 
    -fx-scale-x: 1.05; 
    -fx-scale-y: 1.05; 
}


.button-base:pressed {
    -fx-translate-y: 1px;
    -fx-effect: none; 
}